.doboz {
    height: 175px;
    padding:10px 1422px 5px 100px;
    margin:-8px;
    border-bottom: 10px groove whitesmoke;
    margin-bottom: 10px;
    background-image: url(images/hatter101.png);
   
}

.header {
    float:right;
    position:fixed;
    width: 150px;
    margin-bottom: 10px;
}

.kezdotabla, .kezdotabla tr {
    color: darkred;
    background-color: gray;
    width: 600px; 
    border: 5px solid white;
    border-collapse:collapse;
    height:75px;
    margin-left:  100px;
    text-align: center;
}

.kezdolap {
background-repeat: no-repeat;
background-position-y:230px;
background-position-x: 850px;
background-size: 900px;
background-image: url(images/bACK.PNG);
}

body {
    background-color: black;
} 

span:hover {
    font-size: xx-large;
}
span {
    font-size: 30px;
    
}
.link {
    color: darkred;
    text-decoration: none;
    font-size:30px;
    font-style: italic;
    transition:.2s
    
}   
    
.link:hover {
    transform:scale(1.1);
    transform-origin: left;
   
}
.tdlink {
    color: darkred;
    text-decoration: none;
}


.kezdotabla th:hover,.kezdotabla td:hover{
    background-image: url(images/jel2.png);
    background-size: 65px;
    background-repeat: no-repeat;
    background-position-y: 8px;
}     
.egy {
    background-position: 185px;
}
.ketto {
    background-position: 20px;
}
.harom {
    background-position: 5px;
}
.negy {
    background-position: 192px;
}
.öt {
    background-position: 217px;
}
.hat {
    background-position: 50px;
}
.hét {
    background-position: 135px;
}
.nyolc {
     background-position: 110px;
}
.kilenc {
     background-position: 110px;     
}     
.tíz {
     background-position: 140px;
}
td {
    color:red;
    font-size:x-large;
}

.listajel {
    margin-top: 5px;
    width: 50px;

}
.slipknotlemez {

    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px double darkred;
    position: fixed;
    left: 45%;
    
}
.iowalemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 100px;
    border: 10px solid darkgray;
    position: fixed;
    left: 41%;
}

.vol3lemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px groove darkred;
    position: fixed;
    left: 46%; 
}

.allhopeisgonelemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px groove darkgoldenrod;
    position: fixed;
    left: 46.5%;
}

.graychapterlemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px outset darkred;
    position: fixed;
    left: 46%;
}

.wearenotyourkindlemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    position: fixed;
    left: 47%;

}

.theendsofarlemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px groove darkred;
    position: fixed;
    left: 46.5%;
}

.vissza {
    color: crimson;
    font-size: 30px;
    text-decoration: none;
    
}

.bandat {
    background-color: red;
    background-image: url(images/hatter10.png);
    background-repeat: repeat-y;
    background-size: 500%;
    
}

#container {
    background-color:black ;
    color:darkred;
    width: 1100px;
    margin: auto;
    border: 10px solid rgb(65, 0, 0);
    padding: 10px;
}

.kep1 {
    float: right;
    width: 300px;
    margin: 0px 30px;
    border: 5px groove darkred;
    
    
}
.kep2 {
    float:left;
    width: 500px;
    margin: 5px 20px 20px 0px ;
    border: 5px groove 
}
p{
    padding:20px;
    color: #fff;
    border: 3px #fff solid ;
    border-radius: 0.5cm;
    background-color: rgb(100, 100, 100, 0.7);
}
.bubi{
    margin-right: 35%;
}
.bubi2{
    margin-left: 48%;
}
 /* DISABLE
TEXT REPLACE */