.doboz {
    height: 150px;
    background-color: brown;
    border: 5px solid white; 
    padding: 0px 720px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin: 10px 25px;
    margin-bottom: 10px;
    
    
    
}
.header {
    float: left;
    padding-left: 750px;
    position: fixed;
}
    
 
    

    

.kezdotabla, .kezdotabla tr {
    padding-top: 100px;
    color: darkred;
    background-color: gray;
    width: 600px; 
    border: 5px solid white;
    border-collapse:collapse;
    height:75px;
    margin-left:  100px;
    text-align: center;
}

.kezdolap {
background-repeat: no-repeat;
background-position-y:230px;
background-position-x: 850px;
background-size: 900px;
image-resolution:inherit;
background-image: url(images/bACK.PNG);



}
.link {
    color: darkred;
    text-decoration: none;
    font-size:30px;
    font-style: italic;
}   
    

body {
    background-color: black;
    
    
    
}

.link:hover {
       font-size: xx-large;
}
    
td {
    color:red;
    font-size:x-large;
}

.listajel {
    margin-top: 5px;
    width: 50px;

}
.slipknotlemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px double darkred;
}
.iowalemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px solid darkgray;
}



.vol3lemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px groove darkred;
}

.allhopeisgonelemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px groove darkgoldenrod;
}

.graychapterlemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px outset darkred;
}

.wearenotyourkindlemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px groove whitesmoke;
}

.theendsofarlemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px groove darkred;
}