.doboz {
     height: 175px;
    padding:10px 1422px 5px 100px;
    margin:-8px;
    border-bottom: 10px groove whitesmoke;
    margin-bottom: 30px;
    background-image: url(images/hatter101.png);
   
}
.doboz1 {
    height: 175px;
    padding:19px 1405px 5px 109px;
    margin:-17px;
    border-bottom: 10px groove whitesmoke;
    background-image: url(images/hatter101.png);
    position: fixed;

}
.doboz3 {
    height: 175px;
    padding:10px 1422px 5px 100px;
    margin:-8px;
    border-bottom: 10px groove whitesmoke;
    background-image: url(images/hatter101.png);
    position: fixed;
    
    
    
    
}
.doboz4 {
    height: 175px;
    padding:10px 1422px 5px 100px;
    margin: -8px;
    margin-top:-32px ;
    border-bottom: 10px groove whitesmoke;
    background-image: url(images/hatter101.png);
    position: fixed;
    padding-top: 32px;
    
    
    
}
.ize {
    position: fixed;
    color:whitesmoke;
    font-size:75px;
    text-shadow: 3px 3px 5px white;
    margin: 50px 0px 0px 550px;
    
}



.kezdotabla, .kezdotabla tr {
    color: darkred;
    background-color: gray;
    width: 600px; 
    border: 5px solid white;
    border-collapse:collapse;
    height:75px;
    margin-left:  100px;
    text-align: center;
}

.kezdolap {
background-repeat: no-repeat;
background-position-y:230px;
background-position-x: 850px;
background-size: 900px;
background-image: url(images/bACK.PNG);
}

body {
    background-color: black;
    color: darkred;
} 

.link {
    color: darkred;
    text-decoration: none;
    font-size:30px;
    font-style: italic;
    transition:.2s;
    
}   
    
.link:hover {
    transform:scale(1.1);
    transform-origin: left;
   
}
.tdlink {
    color: darkred;
    text-decoration: none;
}


.kezdotabla th:hover,.kezdotabla td:hover{
    background-image: url(images/jel2.png);
    background-size: 65px;
    background-repeat: no-repeat;
    background-position-y: 8px;
}     
.egy {
    background-position: 160px;
}
.ketto {
    background-position: 20px;
}
.harom {
    background-position: 5px;
}
.negy {
    background-position: 192px;
}
.öt {
    background-position: 217px;
}
.hat {
    background-position: 50px;
}
.hét {
    background-position: 135px;
}
.nyolc {
     background-position: 110px;
}
.kilenc {
     background-position: 110px;     
}     
.tíz {
     background-position: 140px;
}
td {
    color:red;
    font-size:x-large;
}

.listajel {
    margin-top: 5px;
    width: 50px;

}
.slipknotlemez {

    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px double darkred;
    position: fixed;
    left: 45%;
    transition: .25s;
    
}
.iowalemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 100px;
    border: 10px solid darkgray;
    position: fixed;
    left: 41%;
    transition: .25s;
}

.vol3lemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px groove darkred;
    position: fixed;
    left: 46%;
    transition: .25s;
}
.vol3lemez:hover,.graychapterlemez:hover,.slipknotlemez:hover,.iowalemez:hover,.allhopeisgonelemez:hover,.graychapterlemez:hover,.wearenotyourkindlemez:hover,.theendsofarlemez:hover {
    transform: scale(1.05);
    transform-origin: bottom;
    

}
.vol3lemez:hover,.graychapterlemez:hover,.slipknotlemez:hover,.theendsofarlemez:hover {
    box-shadow: 2px  2px 100px darkred;
}
.iowalemez:hover {
    box-shadow: 2px  2px 100px darkgray;
}
.allhopeisgonelemez:hover {
    box-shadow: 2px  2px 100px darkgoldenrod;
}
.wearenotyourkindlemez:hover {
    box-shadow: 2px  2px 100px darkmagenta;
}
.allhopeisgonelemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px groove darkgoldenrod;
    position: fixed;
    left: 46.5%;
    transition: .25s;
}

.graychapterlemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px outset darkred;
    position: fixed;
    left: 46%;
    transition: .25s;
}

.wearenotyourkindlemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    position: fixed;
    left: 47%;
    transition: .25s;

}

.theendsofarlemez {
    float: right;
    width: 800px;
    margin: 50px 200px 0px 0px;
    border: 10px groove darkred;
    position: fixed;
    left: 46.5%;
    transition: .25s;
}


.bandat {
    
    background-image: url(images/hatter10.png);
    background-repeat: repeat-y;
    background-size: 400%;
    
   
    
}

#container {
    width: 1250px;
    margin: auto;
    padding: 10px;
}

.kep1 {
    float: right;
    width: 300px;
    margin: 13px 30px;
    border: 5px groove darkred;
    
    
}
.kep2 {
    float:left;
    width: 500px;
    margin: 5px 10px 20px 0px;
    border: 5px groove;
     

}
div p {

   border: 5px solid rgb(235, 230, 230);
   border-radius: 0.4cm;
   background-color: darkred;
   margin:10px;
   text-align: center;
   padding:20px;
   font-size: 20px;
   color: white;
   text-shadow: 2px 2px 10px black ;
}
.buborek {
margin-left:525px;
padding-bottom: 25px;

}

h1 {
    color:whitesmoke;
    text-align: center;
    font-size:40px;
    text-shadow: 3px 3px 5px white;
    margin-top: 200px;
    
}
h2 {
    color: whitesmoke;
    text-align: center;
    font-size:30px;
    text-shadow: 3px 3px 5px white;
    
}
footer {
    text-transform: uppercase;
    color: white;
    font-size: x-large;
    transition: 0.2s;
    text-align: center;
    text-shadow: 3px 3px 5px white;
    margin:20px 535px 0px 535px;
}
footer:hover {
    transform: scale(1.1);
    text-shadow: 3px 3px 5px red;
    
}
 #container8 footer {
    margin: 50px 0px 0px 300px;
}
.link2 {
    text-decoration: none;
    letter-spacing: 1px;
    
    
}

.link2:visited {
    color: white;
}
.link2:active {
    color:white;
}

#container1 {
    width: 510px;
    padding-bottom:50px;
    float: left;
    margin-left:-40px;
}


#container2 {
    
        width: 510px;
        padding-bottom:50px;
        float: right;
        
    }

    #container3 {
        width: 510px;
        padding-bottom:50px;
        float: left;
        margin-left:-10px;
        padding-top: 100px;
    }
   
#container4 {
    width: 510px;
        padding-bottom:50px;
        float: left;
        margin-left:-460px;
        
}
#container5 {
    width: 510px;
    padding-bottom:50px;
    float: left;
    margin-top: -72.5px;
    margin-left:-25px;
    
    
}
#container6 {
    width: 510px;
    padding-bottom:50px;
    float: left;
    margin-left: -55px;
    margin-top: -53.5px;
    
}
.buborek3 {
   
    margin-left:70px;
    margin-right: 100px;
}
.buborek4 {
    margin-left:150px;
    margin-right: -150px;
}

.meret {
    padding:0.1px
}


.h12 {
    text-align: left;
    padding-top: 20px;
    padding-left:20px;
    
    
}
.jaywienberg {  
    width: 440px;
  
}

 .clown {
    width: 440px;
    
 }

.mick {
    width: 440px;
    
     
}
.coreytaylor {
    width: 400px;
    margin-left: 40px;
    
    
}

.border {
    border-radius: 75px;
    border: 5px groove darkred;
}
.craig {
    width: 440px;
}

.jim {
    width: 800px;
}

.top {
     margin-top: 0px;
     text-align: center;
     padding-left: 300px;
     
    
   
}
#container1 h1 {
    margin-top: -92.5px;
    text-align: left;
    padding-left: 70px;
}


#container8 {
    width: 900px;
    padding-bottom:50px;
    float: left;
    margin-left:-10px;
    padding-top: 50px;
}

.buborek5 {
    margin-left:150px;
    margin-right: 300px;
}







.youtube {
    width: 600px;
    margin-top: 250px;
    float: left;
    
}

.instagram {
    margin-top: 250px; 
    float: left;
    width: 600px;
    
}

.spotify {
    width: 600px;
    margin-top: 250px;
    float: left;
    
}

span {
    color: darkred;
}