.doboz {
    height: 150px;
    background-color: brown;
    border: 5px solid black; 
    padding: 1px 750px;
    margin-bottom: 30px;
}
tr,td,table{
    border: 5px solid black;
    border-collapse:collapse;
    width: 600px;
    height:80px;
    margin-left:  100px;
    text-align: center;
    
}
table {
    color: red;
    background-color: whitesmoke;
}

.kep{
background-repeat: no-repeat;
background-position-y:230px;
background-position-x: 850px;
background-size: 900px;
image-resolution:inherit;
background-image: url(images/bACK.PNG);
background-color: seashell;






}
   
    









